<form action="/answer" data-turbo="false">
  <input type="text" name="answer">
  <input type="submit" value="Answer!">
</form>

<p> <%= @question %> </p>
<p> -You </p>
<p id="coachanswer"> <%= @answer %> </p>
<p> -Your coach </p>


